:root {
  --num-rows: 10;
  --num-cols: 10;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.game-of-life-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--num-cols), auto);
  grid-template-rows: repeat(var(--num-rows), auto);
  /* width: 80vh; */
  /* height: 80vh; */
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
}
